*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  background-color: #fff;
  font-family: "Barlow", sans-serif;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.wrapper {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrapper__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 15%;
          flex: 0 0 15%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 57px 0 100px;
  border-right: 2px solid #e5e5e5;
}

.wrapper__slider-title {
  font-weight: 500;
  font-size: 30px;
  line-height: 36px;
  color: #050215;
}

.wrapper__slider-switch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper__slider-switch .page,
.wrapper__slider-switch .last-page {
  font-weight: 500;
  font-size: 54px;
  line-height: 65px;
  color: #b4977b;
}

.wrapper__slider-switch .last-page {
  opacity: 0.3;
}

.wrapper__slider-switch .scroll {
  width: 4px;
  border-radius: 2px;
  height: 200px;
  background-color: #e5e5e5;
  margin: 15px 0;
}

.wrapper__slider-switch .scroll-active {
  border-radius: 2px;
  background-color: #b4977b;
}

.wrapper__slider-btn {
  border: 2px solid #b4977b;
  border-radius: 50px;
  padding: 25px;
  cursor: pointer;
}

.wrapper__slider-btn:hover {
  -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
          box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
}

.wrapper__slider-btn:hover img {
  -webkit-transform: translateY(5px) scale(1.1);
      -ms-transform: translateY(5px) scale(1.1);
          transform: translateY(5px) scale(1.1);
}

.wrapper__main {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 115px;
}

.wrapper__main-hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 75%;
  gap: 110px;
}

.wrapper__main-hero .hero-image {
  position: relative;
}

.wrapper__main-hero .hero-image img {
  height: 100%;
}

.wrapper__main-hero .hero-image p {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  padding: 22px 88px;
  width: 100%;
  font-weight: 500;
  font-size: 18px;
  line-height: 34px;
  color: #fff;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}

.wrapper__main-hero .hero-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper__main-hero .hero-info .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 64px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.wrapper__main-hero .hero-info .nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 45px;
}

.wrapper__main-hero .hero-info .nav__list-item {
  font-weight: 400;
  font-size: clamp(13px, 2vw, 18px);
  line-height: 22px;
  color: #050215;
  cursor: pointer;
}

.wrapper__main-hero .hero-info .nav__list-item:first-child,
.wrapper__main-hero .hero-info .nav__list-item:hover {
  color: #b4977b;
  font-weight: 500;
}

.wrapper__main-hero .hero-info .nav__cart {
  position: relative;
  cursor: pointer;
}

.wrapper__main-hero .hero-info .nav__cart span {
  position: absolute;
  top: -6px;
  right: -4px;
  font-size: 6px;
  font-weight: 600;
  line-height: 7px;
  padding: 2px 4px;
  background-color: #050215;
  border-radius: 50%;
  color: #fff;
}

.wrapper__main-hero .hero-info .hero-info__inner {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wrapper__main-hero .hero-info .hero-info__inner-title {
  font-weight: 600;
  font-size: 48px;
  width: 65%;
  line-height: 60px;
  color: #050215;
  margin-bottom: 30px;
}

.wrapper__main-hero .hero-info .hero-info__inner-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #050215;
  opacity: 0.75;
  margin-bottom: 30px;
  padding-right: 15px;
  max-height: 210px;
  overflow: auto;
  scroll-behavior: smooth;
  scroll-padding-top: 8rem;
}

.wrapper__main-hero .hero-info .hero-info__inner-text::-webkit-scrollbar {
  width: 4px;
}

.wrapper__main-hero .hero-info .hero-info__inner-text::-webkit-scrollbar-track {
  background: #e5e5e5;
}

.wrapper__main-hero .hero-info .hero-info__inner-text::-webkit-scrollbar-thumb {
  background: #b4977b;
  border-radius: 2px;
}

.wrapper__main-hero .hero-info .hero-info__inner-btn {
  background-color: #b4977b;
  padding: 14px 35px;
  border-radius: 50px;
  width: 40%;
  border: none;
  color: #fff;
  cursor: pointer;
}

.wrapper__main-hero .hero-info .hero-info__inner-btn:hover {
  -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
          box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
}

.wrapper__main-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-left: 25px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.wrapper__main-footer .footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 60px;
}

.wrapper__main-footer .footer__social-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #050215;
  text-transform: uppercase;
  cursor: pointer;
}

.wrapper__main-footer .footer__page {
  font-weight: 600;
  font-size: 160px;
  -webkit-text-fill-color: #fff;
  -webkit-text-stroke: 2px #b4977b;
}

.wrapper__logo-1 {
  position: absolute;
  right: -2%;
  top: 16%;
  z-index: -1;
}

.wrapper__logo-2 {
  position: absolute;
  right: 20%;
  top: 51%;
  z-index: -1;
}

.wrapper__logo-3 {
  position: absolute;
  right: 42%;
  top: 86%;
  z-index: -1;
}